---
- name: install apache
  apt: name=apache2 state=present

- name: copy index.html
  template: src=index.html.j2 dest={{apache_docroot}}/index.html
  notify: restart apache

- name: ensure user executing a task
  shell: echo id

- name: ensure apache is running
  service: name=apache2 state=started enabled=yes
